.header {
    margin: 33px 0 70px 0;
}

.burger {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    background-color: rgb(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
        z-index: 100;
}

.burger_open {
    opacity: 1;
    visibility: visible;
}

.burger__content {
    padding: 80px 0 0 30px;
    width: 80%;
    height: 100%;
    background-color: white;
    z-index: 100;
}

.burger-btn {
    width: 42px;
   height: 9px;
    position: absolute;
    right: 10px;
    border: none; 
    outline: none; 
    background: transparent;
    z-index: 100;
    display: none;
    background-image: url(../resources/burger.png);
    background-size: cover;
    background-repeat: no-repeat;
  
}

.burger-img {
    width: 40px;
    height: auto;
}

.burger__nav-logo {
    width: 156px;
    height: 26px;

}

.header-inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;

}

.burger__nav-item {
    margin-bottom: 20px;
}

.burger__nav-link {
    font-size: 25px;
    line-height: 34.15px;
    letter-spacing: -0.03em;
    color: #121212;
    text-decoration: none;
}

.burger__nav-item:nth-last-child(1) {
    margin-bottom: 0;
}

.burger__contacts-title {
    margin: 90px 0 0 0;
}

.burger__phone {
    display: block;
    font-size: 20px;
    line-height: 45.62px;
    letter-spacing: -0.03em;
    color: #121212;
}

.burger__mail {
    display: block;
    font-size: 20px;
    line-height: 45.62px;
    letter-spacing: -0.03em;
    color: #121212;
}

.header-nav__list {
    display: flex;
    gap: 60px;
}

.nav__logo {
    width: 127px;
    height: 22px;

}

.burger__nav {
    padding-top: 50px;
}



.header-nav__link {
    font-size: 18px;
    letter-spacing: -0.03em;
    line-height: 22px;
    color: #121212;
    text-decoration: none;
}



.header-nav__link:hover {
    opacity: 50%;
    border-bottom: 1px solid#121212;
}

.box {
    margin-bottom: 150px;
}

.box__img {
    margin-top: 30px;
    width: 100%;
    position: relative;
    height: 500px;
    background-image: url(../resources/main-interior.png);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;

}

.box__img-content {
    max-width: 430px;
    position: absolute;
    bottom: 40px;
    left: 40px;
    font-size: 20px;
    line-height: 27.32px;
    letter-spacing: -0.03em;
    color: white;

}

@media (max-width: 960px) {

    .header-nav {
        display: none;
    }

    .box {
        margin-bottom: 120px;
    }

    .box__img {
        height: 400px;
    }


    .box__img-content {
        z-index: 98;
        bottom: 30px;
        left: 40px;

    }

    .burger-btn {

        display: block;
        z-index: 100;
    }





    .burger-btn_open {

        width: 34px;
        height: 34px;
        background-size: cover;
        background-image: url(../resources/radix-icons_cross-2.png);
     
        background-repeat: no-repeat;

    }

}

@media (max-width: 745px) {



    .box {
        margin-bottom: 80px;
    }

    .box__img {

        margin-top: 25px;
        height: 350px;
    }

    .box__img-content {
        max-width: 312px;
        bottom: 15px;
        left: 15px;
        font-size: 16px;
        line-height: 21.86px;

    }


}
