.projects {
    margin-bottom: 150px;
}

.project__img-box {
    width: 100%;
    height: 450px;

}

.project{
    display: flex;
    flex-direction: column;
}

.projects__list {
    margin-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
}

.project__img-box{
    width: 100%;
    height: 450px;
}

.project__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 27%;

}

.project__title {
    margin: 15px 0;
    font-size: 30px;
    line-height: 40.98px;
    letter-spacing: -0.03em;
    color: #121212;

}

.project__link {
    font-size: 20px;
    line-height: 27.32px;
    letter-spacing: -0.03em;
    color: #AD1818;

}

.projects__btn {
    width: 100%;
    display: block;
    font-size: 30px;
    line-height: 153px;
    letter-spacing: -0.03em;
    border: 1px solid #AD1818;
    text-align: center;
    color: #AD1818;
    border-radius: 5px;
}

.projects__btn:hover {
    background-color: #AD1818;
    color: white;
}


@media (max-width: 960px) {

    .projects {
        margin-bottom: 120px;
    }

    .projects__list {
        margin-bottom: 100px;
        gap: 80px;
    }


    .project__title {
        margin: 15px 0 10px 0;
        font-size: 25px;
        line-height: 34.15px;

    }

}

@media (max-width: 639px) {

    .projects {
        margin-bottom: 80px;
    }

    .projects__list {
        margin-bottom: 60px;
        gap: 50px;
    }


    .project__title {
        margin: 20px 0 11px 0;
        font-size: 18px;
        line-height: 24.59px;

    }

    .project__img-box{
        height: 250px;
    }


    .project__link {
        font-size: 16px;
        line-height: 21.86px;
    }

    .projects__btn {
        font-size: 22px;
        line-height: 100px;
        letter-spacing: -0.03em;
        border: 1px solid #AD1818;

    }

}
