.reviews {
    margin: 150px 0;
}

.reviews-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 83px;
    column-gap: 50px;
}

.reviews-item {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: calc(50% - 50px);

}

.reviews-item__bigrow {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: calc(75%);
    flex-direction: row;

}



.reviews-item__text {

    font-size: 22px;
    line-height: 30.05px;
    letter-spacing: -0.03em;


}


@media (max-width: 960px) {

    .reviews {
        margin: 120px 0;
    }

    .reviews-item__title {
        margin-bottom: 25px;
    }

    .reviews-item__text {
        font-size: 20px;
        line-height: 27.32px;

    }

}

@media (max-width: 745px) {

    .reviews {
        margin: 80px 0;
    }

    .reviews-item__title {
        margin-bottom: 5px;
    }


    .reviews-item {
        width: 100%;

    }

    .reviews-item__bigrow {
        width: 100%;

    }

    .reviews-item__text {
        font-size: 16px;
        line-height: 21.86px;
        letter-spacing: -0.03em;

    }

}
