
@import "../styles/header.css";
@import "../styles/projects.css";
@import "../styles/services.css";
@import "../styles/reviews.css";
@import "../styles/contacts.css";
@import "../styles/footer.css";


html {
    scroll-behavior: smooth;
}



body {
    font-family: "Manrope", sans-serif;

}

.body_fixed {
    overflow: hidden;
}



a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 1180px;
    padding: 0 15px;
}




h1 {
    max-width: 956px;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #121212;
}



h2 {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: -0.03em;
    color: #121212;
}

h3 {
    font-size: 45px;
    line-height: 61.47px;
    letter-spacing: -0.03em;
    text-align: left;
}



.about__content {
    max-width: 1048px;
    font-size: 45px;
    line-height: 61.47px;
    letter-spacing: -0.03em;

}

.about {
    margin-bottom: 150px;
}

.about__btn {
    margin-top: 30px;
    padding: 0 40px;
    display: inline-block;
    font-size: 20px;
    line-height: 67px;
    letter-spacing: -0.03em;
    border-radius: 5px;
    color: white;
    background-color: #AD1818;

}

.about__btn:hover {
    background-color: #851212;
}








.gallery {
    height: 717px;
    position: relative;
}

.gallery__img {
    object-fit: cover;
    object-position: 50%;
}

.gallery__title-wrapper {
    width: 100%;
    position: absolute;
    top: 60px;
    z-index: 100;
}


.gallery__title {
    color: white;
}

.gallery__slide-text {
    max-width: 425px;
    height: 82px;
    position: absolute;
    bottom: 60px;
    font-size: 30px;
    line-height: 40.98px;
    letter-spacing: -0.03em;
    z-index: 100;
    color: white;
}





.gallery__controls-wrapper {
    bottom: 162px;
    position: absolute;
    width: 100%;
}

.gallery__controls {
    display: flex;
}

.gallery__control-prev {
    background-image: url(../resources/Vector.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 15px;
    width: 40px;
    height: 40px;
    opacity: 50%;
}

.gallery__control-next {
    background-image: url(../resources/Vector-1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    opacity: 50%;
}





.gallery__control-prev:hover {
    opacity: 100%;
}

.gallery__control-next:hover {
    opacity: 100%;
}

.gallery__slides {
    height: auto;

}

.gallery__slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 717px;
    opacity: 0;
    width: 100%;
}


.gallery__slide_active {
    opacity: 1;
}

.box_img {
    width: 100%;
    height: 100%;
}








@media (max-width: 960px) {

    .container {
        margin: 0 auto;
        width: 100%;
        padding: 0 15px;
    }


    h1 {
        max-width: 802px;
        font-size: 50px;
        line-height: 60px;
    }

    h3 {
        font-size: 35px;
        line-height: 47.81px;
    }



    .about {
        margin-bottom: 120px;
    }


    .about__content {
        max-width: 690px;
        font-size: 35px;
        line-height: 47.81px;

    }



    .gallery {
        height: 536px;
    }

    .gallery__slide {

        height: 536px;
    }

    .gallery__title {
        font-size: 20px;
    }

    .gallery__title-wrapper {
        top: 80px;
    }

    .gallery__slide-text {
         max-width: 375px;
        bottom: 80px;
        font-size: 25px;


    }

    .gallery__controls-wrapper {
        bottom: 166px;
    }





}

@media (max-width: 745px) {

    .container {
        margin: 0 auto;
        width: 100%;
        padding: 0 12px;
    }

    h1 {
        max-width: 330px;
        font-size: 30px;
        line-height: 31px;
        letter-spacing: -0.03em;
    }

   

  

    h2 {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 19.12px;
    }

    h3 {
        font-size: 25px;
        line-height: 34.15px;
    }

    .about {
        margin-bottom: 80px;
    }


    .about__content {
    max-width: 346px;
        font-size: 22px;
        line-height: 30.05px;

    }

    .about__btn {
        width: 100%;
        font-size: 16px;
        text-align: center;
        line-height: 51px;
    }


    .gallery {

        height: 408px;
    }

    .gallery__slides {

        height: 408px;
    }

    .gallery__slide {

        height: 408px;
    }



    .gallery__title {
        font-size: 14px;
    }

    .gallery__title-wrapper {

        top: 61px;
    }

    .gallery__slide-text {
        width: 270px;
        height: 52px;
        bottom: 60px;
        font-size: 19px;
        line-height: 25.97px;

    }

    .gallery__controls {
        display: flex;
        justify-content: space-between;
    }

    .gallery__controls-wrapper {
        bottom: 50%;
    }

    .gallery__control-prev {
        width: 20px;
        height: 30px;

    }

    .gallery__control-next {
        width: 20px;
        height: 30px;
    }



}
